{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post list</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="navbar">
        <span>Whale</span>
        <a href="/posts/add/" class="btn btn-primary">글 작성</a>
    </div>
    <div id="post-list">
        <ul class="posts">
            {% for post in posts %}
            <li class="post">
                <div><a href="/posts/{{post.id}}/">{{post.title}}</a></div>
                <h2>{{post.title}} </h2>
                <p>{{post.content}} </p>
                {% comment %} 1:N관계에서 1->N으로 연결되어있는 모든 것을 표시 {% endcomment %}
                {% comment %} <div>{{post.comment_set.all}} </div> {% endcomment %}
                {% comment %} ul을 해줘야 명확한 구역 구분이 가능하다 {% endcomment %}
                <ul class="comments">
                    {% for comment in post.comment_set.all %}
                        <li class="comments">{{comment.content}} </li>
                    {% empty %}
                        <li class="comment-empty">아직 댓글이 없습니다.</li>
                    {% endfor %}
                </ul>
                {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.url }} " alt="">
                {% else %}
                    
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        
    </div>
</body>
</html>